.move-entry__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 3px;
  padding: 10px 20px;
  flex: 1;
  background: linear-gradient(14deg, rgb(165, 205, 83) 60%, rgb(193, 217, 144) 65%);
  padding: 5px;
  border-radius: 3px;
  font-family: 'VT323';
  border: inset #879a65 3px;
  gap: 12px;
}

.move-entry__name {
  font-size: 24px;
  border-bottom: solid black 2px;
  margin-bottom: 3px;
  text-align: center;
  text-transform: capitalize;
}

.move-entry__stat {
  font-size: 17px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.move-entry__type {
  font-size: 18px;
  text-transform: uppercase;
  border: solid black 2px;
  border-radius: 7px;
  padding: 2px 10px;
  text-align: center;
}

.mov-entry__learn {
  margin-right: 3px;
}

.move-entry__left-panel {
  flex: 1;
}

.move-entry__right-panel {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.move-list__wrapper {
  display: flex;
}

.move-entry__learn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.move-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10px 0 7px;
}
.move-arrow {
  height: 40px;
  width: 40px;
  font-size: 37px;
  border: groove grey 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e78181 -1px 1px;
  cursor: pointer;
  transform: rotate(60deg);
}
.move-arrow:disabled {
  cursor: not-allowed;
}
.move-arrow > * {
  transform: rotate(-60deg);
}
.move-arrow:first-child > * {
  padding-bottom: 5px;
}
.move-arrow:last-child > * {
  padding-top: 1px;
}
.move-arrow:hover:not(:disabled) {
  border-color: rgb(184, 237, 124);
}
.move-arrow:active {
  border-color: rgb(244, 252, 185);
}
