.pokemon-stats__wrapper {
  background: linear-gradient(14deg, rgb(165, 205, 83) 60%, rgb(193, 217, 144) 65%);
  padding: 5px;
  border-radius: 3px;
  font-family: 'VT323';
  border: inset #879a65 3px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  flex: 1;
}

.stat-line {
  font-size: 17px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
