.right-panel__wrapper {
  width: 359px;
  padding: 10px;
  border: inset #b31818 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.right-panel__list-wrapper {
  list-style-type: none;
  padding: 0;
  position: absolute;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  max-height: 180px;
  overflow-y: auto;
}

.right-panel__list-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-family: 'VT323';
  font-size: 16px;
}

.right-panel__list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.right-panel__searched-items {
  background: linear-gradient(14deg, rgb(165, 205, 83) 60%, rgb(193, 217, 144) 65%);
  padding: 5px;
  border-radius: 3px;
  font-family: 'VT323';
  border: inset #879a65 3px;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: capitalize;
  height: 100px;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
}

.panel-row {
  display: flex;
  justify-content: space-between;
}

.panel-row:last-child {
  border-top: groove #757575 3px;
  border-bottom: none;
}

.pokedex__search {
  font-family: 'VT323';
  font-size: 18px;
}

.search-items__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-items__list-item {
  cursor: pointer;
}

.search-items__list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
